[submodule "secsy"]
	path = secsy
	url = https://github.com/klaundal/secsy
[submodule "polplot"]
	path = polplot
	url = https://github.com/klaundal/polplot
[submodule "dipole"]
	path = dipole
	url = https://github.com/klaundal/dipole
